*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
}
.card{
    height: 550px;
    width:400px;
    position:absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    text-align: center; 
}
.card .content{
     position:relative;
     height: 100%;
     width: 100%;

}
.content .box{
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    cursor: pointer;
}
.content .box .share ,.cancel{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color:aquamarine;
    background: green;
    letter-spacing: 1px;
    border-radius: 25px;
    opacity: 0;
    transition: all 0.3s ease;
 }
 .content .box .share{
  opacity: 1;  
 }
 #check {
    display: none;
    position: absolute;
    z-index: 13;
 }
 #check:checked ~ .box .share{
   opacity: 0;
 }
 #check:checked ~ .box .cancel{
    opacity: 1;
 }
.content .image-box{
    position: absolute;
    height: 450px;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    padding: 10px;
    left: 0;
    bottom:130px;
    transition: all 0.5s ease;
}
#check:checked ~ .image-box{
    bottom: 100px;
}
.content .image-box::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    background: white;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%)  rotate(45deg);
    z-index: -1;
}
.content .image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}




