*{
    margin:0;
    padding: 0;
    background: black;
}
.manav{
   position: relative;
   width: 100%;
   height: 100vh;
   background: black;
}
.MS{
    font-size: 30px;
    font-style: italic;
}
nav{
    display: flex;
    width: 85%;
    margin:auto;
    padding: 20px 0;
   
 
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 70px;
    padding: 10px;
    font-size: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    color: red; 
}
.c {
  position: absolute;
  height: 100%;
  width: 100%;
}
.c h1{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    color:aqua;
    text-decoration-style: solid;
}
.mf{
    margin-top: 0px;
}

.Name .name-l{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color:aqua
 
}
.Name .name-ni{
    margin-left: 100px;
    color:red;
}

.e-mail .email-label{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color:blue
}
.e-mail .email-control{
    margin-left: 100px;
    color:orange
}
.phone .phone-no{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold; 
    color:blueviolet
}
.phone .phone-ni{
    margin-left: 100px;
    color:orchid
}
.Enquiry .enquiry-l{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color:chocolate
}
.Enquiry .enquiry-ni{
    margin-left: 100px;
    color:brown
}
.check .check-l{
    margin-left: 100px;
}
.check .check-li{
   font-weight: bold;
   font-size: 30px;
   color:darkcyan;
}
.sumbit{
    margin-left: 100px;
    color:white;
    font-size: 30px;
}
.sumbit:hover{
    color:red;
}




